sources/PROTO/pantalla.articulos.fw.png
sources/PROTO/pantalla.articulos.jpg
sources/UPDATES/varios.txt
sources/UPDATES/20200820/.DS_Store
sources/UPDATES/20200820/SQL/CodArticulo.SQL
sources/UPDATES/20200820/_serv/.DS_Store
sources/UPDATES/20200820/_serv/artic.php
sources/UPDATES/20200820/_serv/articact.php
sources/UPDATES/20200820/_serv/loadList.php
sources/UPDATES/20200820/_serv/js/artic.js
update-20200820.zip
