sources/PROTO/pantalla.articulos.fw.png
sources/PROTO/pantalla.articulos.jpg
sources/UPDATES/varios.txt
sources/UPDATES/
update-20200820.zip
sources/.DS_Store
.gitignore
sources/UPDATES/.DS_Store
.DS_Store
sources/UPDATES/CodArticulo.SQL
sources/PROTO/blancofw.png
sources/PROTO/mask-video.png
sources/RECIBOS/
